
/*UBUNTU*/

/*@font-face {
    font-family: 'ubunturegular';
    src: url('ubuntu-r-webfont.eot');
    src: url('ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-r-webfont.woff') format('woff'),
         url('ubuntu-r-webfont.ttf') format('truetype'),
         url('ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('ubuntu-l-webfont.eot');
    src: url('ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-l-webfont.woff') format('woff'),
         url('ubuntu-l-webfont.ttf') format('truetype'),
         url('ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntubold';
    src: url('ubuntu-b-webfont.eot');
    src: url('ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-b-webfont.woff') format('woff'),
         url('ubuntu-b-webfont.ttf') format('truetype'),
         url('ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntuitalic';
    src: url('ubuntu-ri-webfont.eot');
    src: url('ubuntu-ri-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-ri-webfont.woff') format('woff'),
         url('ubuntu-ri-webfont.ttf') format('truetype'),
         url('ubuntu-ri-webfont.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntubold_italic';
    src: url('ubuntu-bi-webfont.eot');
    src: url('ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-bi-webfont.woff') format('woff'),
         url('ubuntu-bi-webfont.ttf') format('truetype'),
         url('ubuntu-bi-webfont.svg#ubuntubold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


/*OPEN SANS*/
/*@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('OpenSans-SemiboldItalic-webfont.eot');
    src: url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('OpenSans-LightItalic-webfont.eot');
    src: url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-LightItalic-webfont.woff') format('woff'),
         url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('OpenSans-BoldItalic-webfont.eot');
    src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'georgiaregular';
    src: url('georgia-webfont.eot');
    src: url('georgia-webfont.eot?#iefix') format('embedded-opentype'),
         url('georgia-webfont.woff') format('woff'),
         url('georgia-webfont.ttf') format('truetype'),
         url('georgia-webfont.svg#georgiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'jockey_oneregular';
    src: url('jockeyone-regular-webfont.eot');
    src: url('jockeyone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('jockeyone-regular-webfont.woff') format('woff'),
         url('jockeyone-regular-webfont.ttf') format('truetype'),
         url('jockeyone-regular-webfont.svg#jockey_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'swis721_blkcn_btblack';
    src: url('tt0173m-webfont.eot');
    src: url('tt0173m-webfont.eot?#iefix') format('embedded-opentype'),
         url('tt0173m-webfont.woff') format('woff'),
         url('tt0173m-webfont.ttf') format('truetype'),
         url('tt0173m-webfont.svg#swis721_blkcn_btblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'prototyperegular';
    src: url('prototype-webfont.eot');
    src: url('prototype-webfont.eot?#iefix') format('embedded-opentype'),
         url('prototype-webfont.woff') format('woff'),
         url('prototype-webfont.ttf') format('truetype'),
         url('prototype-webfont.svg#prototyperegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular-webfont.eot');
    src: url('quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-regular-webfont.woff2') format('woff2'),
         url('quicksand-regular-webfont.woff') format('woff'),
         url('quicksand-regular-webfont.ttf') format('truetype'),
         url('quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold';
    src: url('quicksand-bold-webfont.eot');
    src: url('quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-bold-webfont.woff2') format('woff2'),
         url('quicksand-bold-webfont.woff') format('woff'),
         url('quicksand-bold-webfont.ttf') format('truetype'),
         url('quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rockwell-boldregular';
    src: url('ufonts.com_rockwell-bold-webfont.eot');
    src: url('ufonts.com_rockwell-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_rockwell-bold-webfont.woff2') format('woff2'),
         url('ufonts.com_rockwell-bold-webfont.woff') format('woff'),
         url('ufonts.com_rockwell-bold-webfont.ttf') format('truetype'),
         url('ufonts.com_rockwell-bold-webfont.svg#rockwell-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rockwell_lightitalic';
    src: url('ufonts.com_rockwell-light-italic-webfont.eot');
    src: url('ufonts.com_rockwell-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_rockwell-light-italic-webfont.woff2') format('woff2'),
         url('ufonts.com_rockwell-light-italic-webfont.woff') format('woff'),
         url('ufonts.com_rockwell-light-italic-webfont.ttf') format('truetype'),
         url('ufonts.com_rockwell-light-italic-webfont.svg#rockwell_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/



