
/*#############################################################################
* DESKTOP VIEW
###############################################################################*/
@media (min-width: 1230px) {
  
}


/*#############################################
* CUSTOM BREAKPOINTS 
##############################################*/
@media (max-width: 1370px) {
	header.header-container nav ul li {
		margin: 5px 5px;
	}
}


@media (min-width: 1370px) {
	.container {
	  width: 1370px;
	}

}
@media (min-width: 992px) and (max-width: 1199px) {
	.inner-logo {
	    max-width: 130px;
	}
	img.phone-icon {
		margin: 15px 10px;
	}
	header.header-container nav ul li {
		margin: 5px 0;
	}
	.green-inner-title .header-contact-details img {
		margin: 0 8px 0 0px;
	}
	.green-inner-title .header-contact-details p {
        font: 14px/16px "droid Sans","Myriad Pro";
    }
}

@media (max-width: 1180px) {
	ul.callouts li {
		margin: 10px 20px;
	}
}



