/*#############################################################################

  #1. Base Settings for the stylesheet
  #2. Reset Styles
  #3. Header Styles
  #4. Page Styles
  #5. Footer Styles
  #6. Main Font Styles
  #7. Button Styles

##############################################################################*/
/* ==========================================================================
   #1. Base Settings for the stylesheet
   ========================================================================== */
body {
  /*background: url('../img/body-bg.jpg') repeat-x center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: #000;
  font: 16px/24px "Droid Sans","Myriad Pro";
  font-weight: 400;
  color: #ffffff;
  /*font-size: 14px;*/
  overflow-y: scroll;
  min-width: 320px;
  position: relative;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* ==========================================================================
   End of Base Settings for the stylesheet
   ========================================================================== */
/* ==========================================================================
   #2. Reset Styles
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Droid Sans","Myriad Pro";
}
p {
  margin: 0 0 20px;
}
.form-control {
  font-size: 13px;
}
.container {
  /*width: 1370px;*/
  max-width: 1370px !important;
}
.reset-margin {
  margin: 0 !important;
}
.reset-padding {
  padding: 0 !important;
}
a {
  color: #6dcff6;
}
a:hover,
a:focus {
  color: #6dcff6;
  text-decoration: underline;
}
a:focus,
button:focus {
  outline: none;
}
.center {
  margin: 0 auto !important;
}
.relative {
  position: relative !important;
}
textarea {
  resize: none;
}
.list-none {
  list-style: none;
}
/* ==========================================================================
   End of Reset Styles
   ========================================================================== */
/* ==========================================================================
   #3. Header Base Styles
   ========================================================================== */

/* ==========================================================================
   End of Header Base Styles
   ========================================================================== */
/* ==========================================================================
   #4. Page Base Styles
   ========================================================================== */
h2.page-heading {
    font-weight: 300;
    font-size: 36px;
    color: #fff;
    margin: 0;
}


/* ==========================================================================
   End of Page Styles
   ========================================================================== */
/* ==========================================================================
   #5. Footer Styles
   ========================================================================== */

/* ==========================================================================
   End of Footer Styles
   ========================================================================== */
/* ==========================================================================
   #6. Main Font Styles
   ========================================================================== */
.uppercase {
  text-transform: uppercase;
}
.hl-orange {
  color: #fe6c00 !important;
}
.hl-blue {
  color: #4881a3 !important;
}
.hl-dk-blue {
  color: #06164a !important;
}
.hl-lt-blue {
  color: #6dcff6 !important;
}
.hl-red {
  color: #ff3333 !important;
}
.hl-dk-red {
  color: #df2f37 !important;
}
.hl-gray {
  color: #666666 !important;
}
.hl-white {
  color: #ffffff !important;
}
.hl-black {
  color: #000000 !important;
}
.hl-green {
  color: #669900 !important;
}
.hl-lt-green {
  color: #00a192 !important;
}
.hl-dark {
  color: #333333 !important;
}
.hl-light {
  color: #999999 !important;
}
.hl-grayc {
  color: #cccccc !important;
}
.hl-orange {
  color: #f15c22 !important;
}
.hl-yellow {
  color: #fedd4f;
}
.hl-yellow-orange {
  color: #f3b606 !important;
}
.hl-lt-brown {
  color: #d0b696;
}

a.no-decoration,
.no-decoration {
  text-decoration: none;
}

/* ==========================================================================
   End of Main Font Styles
   ========================================================================== */



/* ==========================================================================
   #7. Button Styles
   ========================================================================== */
.btn-blue {
  color: #2d1d0a !important;
  font-size: 18px;
  background: #6dcff6;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 40px;
}

/* ==========================================================================
   #8. Background Styles
   ========================================================================== */
