
/* ==========================================================================
   Author: 
   Desciprtion: custom styles for phones
   ========================================================================== */
@media (max-width: 767px) {
	header.header-container {
	    position: relative;
	    max-height: 1000px;
	}
	h1.logo-container {
		margin: 10px 0;
	}
	h1.logo-container img {
	    display: table;
	}
	.main-nav-container {
	    padding: 0 15px;
	}
	header.header-container nav ul {
		float: left;
		width: 100%;
	}
	header.header-container nav ul li {
		display: block;
		width: 100%;
		float: left;
		margin: 0 0 5px;
		text-align: center;
	}
	header.header-container nav ul li a {
		display: inline-block;
		padding-bottom: 3px;
	}
	header.header-container nav ul li.current_page_item a {
		background: none;
		color: #00958e;
	}
	header.header-container nav ul.depth_0 {
		position: relative;
	}
	ul.dropdown-menu.depth_0 {
	    margin: 0 0 0 0;
	    text-align: center;
	}
	ul.dropdown-menu.depth_0 > li {
	    padding: 0 0 0 0;
	}
	li#menu-item-1536,
	li#menu-item-1537 {
		display: none;
	}
	.navbar {
		min-height: 1px;
	}
	.navbar-inverse .navbar-collapse, 
	.navbar-inverse .navbar-form {
		border: 0;
	}
	.navbar-inverse .navbar-toggle,
	.navbar-inverse .navbar-toggle:hover, 
	.navbar-inverse .navbar-toggle:focus {
		background: #00aca0;
		margin-bottom: 10px;
		margin-top: 10px
	}
	.navbar-header {
		background: #000;
		margin-left: -30px;
		margin-right: -30px;
	}
	.navbar-default .navbar-collapse, 
	.navbar-default {
		border: none !important;
	}
	.navbar-collapse {
		box-shadow: none;
		background: #000;
		margin-left: -30px;
		margin-right: -30px;
	}
	.navbar-toggle {
		border: none;
	}
	li.menu-item-1537 {
        float: none !important;
        margin-right: 0px;
    }
    .header-contact-details {
    	text-align: center;
    }
    .header-contact-details {
    	display: table;
    	margin: 10px auto;
    }




	.carousel-con-hp {
		padding: 0;
	}
	.footer-cont-rp {
		padding: 0;
	}
	p.footer-text {
	    padding: 50px 15px;
	}
	.inner-container {
		padding: 0;
	}
	.green-inner-title {
	    height: auto;
	    -webkit-border-top-left-radius: 0px;
	    -webkit-border-top-right-radius: 0px;
	    -moz-border-radius-topleft: 0px;
	    -moz-border-radius-topright: 0px;
	    border-top-left-radius: 0px;
	    border-top-right-radius: 0px;
	    padding: 10px 15px;
	    margin-top: 0px;
	}
	h2.page-heading {
	    font-size: 26px;
	}
	.main-content-column,
	.sidebar-column {
		float: left;
		width: 100%;
		padding: 0;
	}
	.sidebar-column {
		text-align: center;
	}
	ul.sidebar-nav li {
	    background: none;
	    padding:  0 0 0 0;
	}

    .content-price,
    .content-price-center{
        margin:auto !important;
        float:none;
    }
    .vcenter{
        padding-top:10px;
    }
    .img-brow {
    	margin-bottom: 15px;
    }
}/* END of @media*/



/*#############################################
* CUSTOM BREAKPOINTS 
##############################################*/

