/* ==========================================================================
   Description: custom styles
   ========================================================================== */
/*##############################
* HEADER
##############################*/
header.header-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    float: left;
    background: url('../img/header-bg.png');
    max-height: 55px;
}
/*logo*/
h1.logo-container {
    margin: 0 0 50px 0;
}
h1.logo-container img {
    margin: 15px auto 0;
}
.main-nav-container {
    padding: 0;
}
.navbar {
    min-height: 1px;
}
header.header-container nav {
    background: none;
    border: none;
    margin-bottom: 0;
}
header.header-container nav ul {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
    margin: 10px 0;
    text-align: center;
}
header.header-container nav ul li {
    float: left;
    margin: 5px 10px;
    display: inline-block;
}
header.header-container nav ul li a {
    /*text-transform: uppercase;*/
    color: #fff;
    /*font-size: 14px;*/
    padding: 5px 5px 10px;
    font: 13px/15px "Droid Sans",Myriad Pro;
}
#menu-main-menu li a:hover{
    text-decoration: none;
}
nav a:focus, nav a:hover{
   text-decoration: none;
}
li.active{
    text-decoration: none;
    position: relative;
}
header.header-container nav ul li a:hover,
li.current_page_item a {
    color: #00958e;
}
#menu-main-menu .caret {
    display: none;
}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
    background: none;
    color: #00958e;
}
li#menu-item-1536 a {
    color: #fff;
    cursor: default;
    pointer-events: none;
}
li#menu-item-1537 a {
    color: #f69;
    padding-left: 20px;
    background: url('../img/shop-icon.png') no-repeat 0px 3px;
    text-transform: uppercase;
}
li#menu-item-1537 a:hover {
    color: #fff;
}
a.shop-now {
    background: url('../img/shop-icon.png') no-repeat 0px 0px;
    color: #f69;
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
}




/*make the menu sub-menu items drop down on mouse hover */
nav li.dropdown:hover > ul.dropdown-menu,
nav li.dropdown:focus > ul.dropdown-menu {
    display: block;
}
ul.dropdown-menu.depth_0 {
    background: #000;
    padding: 10px 30px;
    margin: 0 0 0 -30px;
    text-align: left;
    padding: 10px 30px;
    -webkit-border-radius: 7px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 7px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 0;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
ul.dropdown-menu.depth_0 > li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    width: 100%;
}
ul.dropdown-menu.depth_0 > li > a {
    padding: 10px 0;
    text-align: left;
}
ul.dropdown-menu.depth_0 > li > a:hover {
    background: none;
}

a.fb-link {
    text-decoration: none;
    display: inline-block;
    float: left;
}
img.fb-icon {
    margin-top: 10px;
    display: inline-block;
}
img.phone-icon {
    margin: 15px 15px 0;
    display: inline-block;
    float: left;
}
p.phone {
    display: inline-block;
    line-height: 1;
    margin: 12px 0 0;
    float: left;
    font: 13px/15px "Droid Sans","Myriad Pro";
    letter-spacing: 1px;

}
/*##############################
* FOOTER
##############################*/
footer.footer-container {
    float: left;
    width: 100%;

}
.footer-cont-rp {
    background: url('../img/footer-bg.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p.footer-text {
    padding: 40px 20% 10px;
}
ul.footer-callouts {
    list-style: none;
    margin: 10px auto;
    text-align: center;
    float: left;
    width: 100%;
    padding: 0;
}
ul.footer-callouts li {
    display: inline-block;
    width: 230px;
    height: 210px;
    margin: 0 40px;
    color: #b8d5d0;
    font: 14px/16px "Droid Sans",Myriad Pro;
}
ul.footer-callouts li img {
    /*float: left;*/
    display: table;
    margin: 0 auto;
}
ul.footer-callouts li p {
    float: left;
    width: 100%;
    margin-top: 10px;
}


p.copyright {
    background: url('../img/header-bg.png');
    padding: 20px 0;
    margin-bottom: 0;
}
p.copyright,
p.copyright a {
    font-weight: 300;
    text-align: center;
    color: #599086;
    font: 12px/22px "Droid Sans","Myriad Pro";
}


/*##############################
* CONTENT
##############################*/
/*===================
        HOME
=====================*/
/*BANNER*/
.carousel-container {
    float: left;
    width: 100%;
    position: relative;
    z-index: 2;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-indicators li {
    background: #fff;
    border: none !important;
    margin: 0 5px;
    width: 10px;
    height: 10px;
}
.carousel-indicators li.active,
.carousel-indicators li:hover {
    background: #378490;
    margin: 0 5px;
    border: none !important;
    width: 10px;
    height: 10px;
}
/*CALLOUTS*/
.callouts-container {
    float: left;
    width: 100%;
    background: url('../img/stripes-bg.jpg');
}
ul.callouts {
    text-align: center;
    display: table;
    margin: 25px auto;
    padding: 0;    
}
ul.callouts li {
    display: inline-block;
    margin: 10px 50px;
}
ul.callouts li:hover {

}
ul.callouts li a {
    text-decoration: none;
    display: block;
}
ul.callouts li a .img-container {
    float: left;
    position: relative;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
ul.callouts li a .img-container img {
    position: relative;
}
ul.callouts li a .img-container p {
    position: absolute;
    width: 100%;
    top: 40%;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter:alpha(opacity=0);
    transform: scale(0);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 5;
}
ul.callouts li a h3 {
    color: #003334;
    font: 20px/50px "Droid Sans",Myriad Pro;
}
ul.callouts li a:hover h3 {
    color: #00a293;
}

ul.callouts li a:hover .img-container p {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter:alpha(opacity=100);
    transform: scale(1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.green-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(50, 205, 190, 0.4) inset, 0 0 0 0 rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
ul.callouts li a:hover .green-overlay {
    box-shadow: 0 0 0 110px rgba(50, 205, 190, 0.4) inset, 0 0 0 9px rgba(255, 255, 255, 0.8) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}





/*===================
        INNER
=====================*/
.inner-logo {
    max-width: 170px !important;
}
.green-inner-title {
    float: left;
    width: 100%;
    background: url('../img/title-bg.png');
    height: 75px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 20px 0;
    margin-top: -75px;
}
.green-inner-title .header-contact-details img {
    margin: 0 15px;
}
.green-inner-title .header-contact-details p {
    line-height: 1.4;
     font: 17px/19px "droid Sans","Myriad Pro";
     margin: 5px 0 0;
}
.inner-content {
    background: url('../img/stripes-bg.jpg');
}
.page-section {
    float: left;
    width: 100%;
    background: #fff;
    color: #333;
    padding: 30px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}
.page-section .inner-box {
    float: left;
    width: 100%;
    padding: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e2e4eb;
    margin: 5px 0;
}
.page-section h3 {
    font-size: 18px;
    color: #093f3a;
    margin-top: 5px;
    font-weight: 700;
}
.page-section h4 {
    font-weight: 700;
    font-size: 16px;
}
.content-price{
    background-color: #eeeeee;
    border: 7px solid #eeeeee;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: #007a6f;
    float: right;
    font-size: 39px;
    min-height: 130px !important;
    padding-top: 50px;
    text-align: center;
    width: 130px;
}
.content-price.from {
    padding-top: 20px;
}
.content-price span {
    font-size: 14px;
}
.content-price-center {
    float: left;
    margin-top: 15px;
}
.center-content{
    text-align: center;
}
.vcenter{
    padding-top: 70px;
}
ul.check {
    list-style: none;
    padding: 0;
}
ul.check li {
    padding-left: 30px;
    background: url('../img/tickmark.jpg') 5px 5px no-repeat;
}
.gray-border {
    border: 5px solid #eee;
}
/*CONTACT*/
.contact-table {
    line-height: 2;
    margin-bottom: 20px;
}
/*wax list*/
.wax-list{
    list-style: none;
    padding-left: 0px;
    padding-top: 20px;
}
.wax-list li{
    padding-left:0px;
}
.wax-list li .price{
    color: #007a6f;
}
/*studio info*/
.rounded-box{
     border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*SIDEBAR*/
ul.sidebar-nav {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}
ul.sidebar-nav li {
    background: url('../img/caret-right.jpg') 5px 5px no-repeat;
    padding:  0 0 0 20px;
}
ul.sidebar-nav li a {
    color: #00a192;
    font: 16px/25px "droid Sans","Myriad Pro";
    text-decoration: none;
}
ul.sidebar-nav li a:hover {
    color: #02413b;
}
ul.sidebar-callouts {
    float: left;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
ul.sidebar-callouts li {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}
ul.sidebar-callouts li img {
    border: 1px solid #26bcae;

}
/*CONTACT*/
.wpcf7-form-control {

}
.wpcf7-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.wpcf7-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.wpcf7-form-control:-moz-placeholder {
  color: #999;
}
.wpcf7-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.wpcf7-form-control:-ms-input-placeholder {
  color: #999;
}
.wpcf7-form-control::-webkit-input-placeholder {
  color: #999;
}
textarea.wpcf7-form-control {
  height: auto;
}
.wpcf7-captchac {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: none;
}
.wpcf7-form .container-fluid {
    margin: 10px 0;
}
.wpcf7-form-control.wpcf7-submit {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: right;
    width: 168px;
    height: 48px;
    background: #00a192;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px
}
/*POPUP*/
.home {
    background:#000;    
}
.ui-popup-screen {
    background:#666 !important;
}
.error_value {
    border:1px solid #F00 !important;
}
#mainpop_up {
    background:#00a399 url('../img/pop_bg.png') 0px 95px no-repeat;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    width:612px;
    height:364px;
    margin-left:2px;
    font-family: 'Droid Sans', sans-serif;
    font-size:12px;
}
.popupbody {
    padding:10px 30px;  
}
.popupbody form {
    padding:10px 0px;   
}
.popupbody label {
    color:#fff; 
}
.popupbody p{
    color:#fff;
}
.popupheader {
    -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
    padding:10px 10px;
    background:#030406; 
    height:100px;
}
.popupheader h1{
    text-align:center;
    color:#cccccc;
    margin-top:23px;
    font-weight:600 !important;
    font-size:30px;
}

.clear{clear:both;}

.pop_left{width:285px;float:left;padding-top:20px;color: #FFF;
    font-family: 'Droid Sans',sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;}
.pop_right{width:250px;float:right;}

input{width:100%;border:0;}

.submit{background:url('../img/submit-btn.jpg') no-repeat; width:120px; height:50px; font-size:0px; border:none;margin-left:80px;}

.note{color:#FFF; font-size:12px;padding-top:30px;}
.mc-field-group input {
    color: #333;
    padding: 0 5px;
}
.close-popup-mc {
    color: #fff;
    opacity: 1;
    margin-top: 10px;
}

/*////////////
//  SHOP    //
////////////*/
li.product-category{
    border: 1px solid #dde0e9;
    box-shadow: none !important;
    min-height: 200px !important;
}
li.product-category img{
    border: 1px solid #dde0e9;
    box-shadow: none !important;
    width: 90% !important;
    margin: 5px auto !important;
}

li.product-category a.product_type_simple{
    margin: 5px 5px !important;
} 

li.product-category a:first-child{
    min-height: 150px;
}

ul.products li{
    border: 1px solid #dde0e9;
    box-shadow: none !important;
    min-height: 140px !important;
    text-align: center;
    
}
ul.products li img{
    border: 1px solid #dde0e9;
    box-shadow: none !important;
    min-height: 140px !important;
    margin: 7px !important;
    width:90% !important;
}
ul.products li a.add_to_cart_button{
    margin-bottom: 5px;
}
.attachment-shop_single{
    border: 1px solid #dde0e9;
    box-shadow: none !important;
    min-height: 140px !important;
    margin: 7px !important;
   
}
.entry-summary{
    border: 1px solid #dde0e9;
    box-shadow: none !important;
    min-height: 140px !important;
    margin: 7px !important;
    
}
.entry-summary h1{
    padding: 10px !important;
}
.entry-summary>div{
    padding-left: 10px !important;
}
.entry-summary form{
    padding-left: 10px !important;
} 
@media screen and (-webkit-min-device-pixel-ratio:0) {

    /*Chrome CSS here*/ /*Safari*/
    
}

