

/* ==========================================================================
   Author: 
   Desciprtion: custom styles for tablets
   ========================================================================== */
@media (min-width: 767px) and (max-width: 991px) {
    header.header-container {
        position: relative;
        max-height: 1000px;
    }
    h1.logo-container {
        margin-bottom: 15px;
    }
    header.header-container nav ul {
        padding: 0;
        margin: 0;
    }
    header.header-container nav ul li {
        float: none;
        margin: 0 10px;
        display: inline-block;
    }
    .header-contact-details {
        text-align: center;
    }
    .header-contact-details {
        display: table;
        margin: 0 auto 10px;
    }
    .inner-fb-container {
        text-align: center;
    }
    .inner-fb-container .fb-icon {
        margin: 10px auto;
    }
    .green-inner-title .header-contact-details img {
        display: none;
    }
    .green-inner-title .header-contact-details p {
        font: 12px/14px "droid Sans","Myriad Pro";
    }
    .content-price-center {
        float: none;
        margin: auto;
    }
}


/*#############################################
* CUSTOM BREAKPOINTS 
##############################################*/
